# Data Science Tools and Ecosystem #

*In this notebook, Data Science Tools and Ecosystem are summarized*

**Objectives**
<ul>
  <li>Introduction</li>
  <li>Popular languages and libraries</li>
  <li>arithmethic expressionss</li>
</ul>

Some of the popular languages that Data Scientists use are:
<ol>
  <li>Phyton</li>
  <li>R</li>
  <li>SQL</li>
  <li>Js</li>
</ol>

*Some of the commonly used libraries used by Data Scientists include:*
<ol>
  <li>Pandas</li>
  <li>Numpy</li>
  <li>Sqipy</li>
  <li>Tensorflow</li>
</ol>

<table style="width:30%">
  <tr>
    <th>Data Science Tools</th>
     </tr>
  <tr>
    <td>RStudio</td>
      </tr>
  <tr>
    <td>Apache Spark</td>
  </tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python ###

*This a simple arithmetic expression to mutiply then add integers*

In [5]:
print((3*4)+5)

17

*This will convert 200 minutes to hours by diving by 60*

In [21]:
minutes = 200
hours   = 60

print(minutes/hours)

3.3333333333333335